<div id="particles-js" class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-3 has-text-weight-light">Jareem E. Hoff</h1>
      <span id="typed" class="is-size-1 has-text-weight-light"></span>
    </div>
  </div>
</div>

<section class="section section-dark">
  <div class="container">
    <h1 class="is-size-1 mb-2">About Me</h1>
    <p class="is-size-4">As a developer, I remind myself everyday that my role in life is to “develop”. If
      I considered everything that I’ve ever worked on as completed, then my career
      title would make the least amount of sense, and should be changed to “finisher”.
      Whether it be a project that’s started or ourselves as people living day to day life.
      there always be something that we need to improve. This is why I’m passionate
      about what I do, because everyday I get a new opportunity to learn how to better
      myself in my career path and my life, while helping others do the same. It’s more
      than a job, it’s a lifestyle.</p>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="tbl-header columns">
      <div class="column">
        <h1 class="is-size-1">Github Projects <span style="font-size: 25px;">({{ userInfo.login }})</span></h1>
      </div>
        
      <div class="column has-text-right">
        <p class="is-size-3">Followers: {{ userInfo.followers }} | Following: {{ userInfo.following }}</p>
      </div>

    </div>
    <div class="column">
      <hr class="tblHdrHr">
    </div>

    <div *ngIf="repos" class="vrdiv">
      <cdk-virtual-scroll-viewport itemSize="120" class="vrCon">
        <div *cdkVirtualFor="let repo of repos;" class="vrConItem columns">

          <div class="column is-4">
            <p class="is-size-3 mb-1">{{ repo.name }}</p>
            <p class="is-size-5 has-text-left">{{ repo.description }}</p>
          </div>

          <div class="column is-2">
            <div class="tags has-addons">

              <span class="tag" style="font-size: 18px;">
                {{ repo.language }}
              </span>
              <span class="tag" style="font-size: 18px;">
                {{ repo.stargazers_count }}
              </span>
            </div>
          </div>

          <div class="column has-text-right is-6">
            <a class="button is-medium is-outlined is-rounded is-info" [attr.href]="repo.html_url" target="_blank">Go
              to repo</a>
          </div>

        </div>
      </cdk-virtual-scroll-viewport>
    </div>

  </div>
</section>

<section class="section-dark">
  <div class="container">
    <div>
      <h1>Hello World!</h1>
    </div>

    <div>
    </div>
  </div>
</section>