<header class="bannerheader">

  <!-- image for the banner -->
  <div class="bannerImgWrap">
    <img src="../../../../assets/pics/bg/galaxy-11.jpg">
  </div>

  <!-- color overlay for the banner -->
  <div class="bannerOvr">
  </div>

  <!-- content for the banner itself -->
  <div class="bannerContent container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="container has-text-centered">
          <h1 class="is-size-1 has-text-weight-light">Jareem E. Hoff</h1>
          <span id="typed" class="is-size-4 has-text-weight-light"></span>
        </div>
      </div>
    </div>
  </div>


</header>